<div class="sidebar-container">

    <button id="btnBack" class="btn btn-sm btn-success mt-2 ml-2" [routerLink]="'/home'">
        <i class="fa fa-arrow-circle-left"></i> Voltar
    </button>

    <ul class="nav sidebar-navigation mt-2">
        <li class="nav-item">
            <a class="nav-link" id="eventManagement" [routerLink]="'EventManagement'"
                routerLinkActive="active"><span>Eventos</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="logManagement" [routerLink]="'LogManagement'"
                routerLinkActive="active"><span>Log</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="navbarManagement" [routerLink]="'NavbarManagement'"
                routerLinkActive="active"><span>Navbar</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="timelineManagement" [routerLink]="'TimelineManagement'"
                routerLinkActive="active"><span>Timeline</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="feedManagement" [routerLink]="'FeedManagement'" 
                routerLinkActive="active"><span>Feed de Eventos</span></a>
        </li>
    </ul>
</div>