<div class="content" *ngIf="events">
  <span class="title">
    Religamento Automático - {{lastEvent.level}}
  </span>
  <button class="btn btn-success btn-sm" *ngIf="userHasPermission('EventHypervision', 'AddActionOnEvent', 'edit') && showButton('startEvent')" (click)="startEvent()">Iniciar ocorrência</button>
  <button class="btn btn-primary btn-sm" *ngIf="userHasPermission('EventHypervision', 'AddActionOnEvent', 'edit') && showButton('addAction')" (click)="addComment()">Incluir ação</button>
  <button class="btn btn-warning btn-sm" *ngIf="userHasPermission('EventHypervision', 'AddActionOnEvent', 'edit') && showButton('finishEvent')" (click)="finishEvent()">Encerrar ocorrência</button>


  <div class="divider"></div>
  <div class="details">
    <p><label>Ciclo:</label> {{cycle}}</p>
    <p><label>Estado:</label> {{status}}</p>
    <p *ngIf="lastEvent.cardDetails.regions != null"><label>Regiões:</label> {{lastEvent.cardDetails.regions?.join(",")}}</p>
  </div>
  <div class="divider"></div>

  <div class="events">
    <table class="table table-dark">
      <thead>
        <tr>
          <th>Data</th>
          <th>Usuário</th>
          <th>Descrição</th>
          <th>Comentário</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let e of events">
          <td>{{e.lastEvent.date | date: 'dd/MM/yyyy HH:mm:ss.SSS' }}</td>
          <td>{{e.lastEvent.user}}</td>
          <td>{{e.lastEvent.description}}</td>
          <td>{{e.lastEvent.comment}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
<ng-template #modal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">{{modalTitle}}</h5>
    <button type="button" class="close btn-sm" aria-label="Fechar" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="form-group">
        <label for="comment">Comentário</label>
        <div class="input-group">
          <input type="text"  class="form-control" [(ngModel)]="comment">
        </div>
      </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary btn-sm" (click)="modal.close(coment);" [disabled]="validateComment()">{{modalButton}}</button>
  </div>
</ng-template>
<concert-loading-io></concert-loading-io>
