<div class="app-container">
    <div class="page-container">
        <div class="title-container">
            <h3 class="text-center">Customização</h3>
        </div>
    </div>
    <div class="page-container">
        <div class="col-sm title-edit-container">
            <h3>Feed de Eventos</h3>
            <div class="pull-right">
                <button class="btn btn-sm btn-primary" id="btnSave" (click)="openModal()">
                    <i class="fa fa-save"></i> Salvar
                </button>
            </div>
        </div>
        <div id="configManagementContainer" class="container-fluid">
            <br>
            <form class="row pt-2 page-body" *ngIf="configForm" id="configForm" [formGroup]="configForm">
                <div class="col-12 col-md-2 col-lg-3">
                    <div class="form-group form-group-icon">
                        <label for="feedBackgroundColor" class="text-cinza pt-2">Cor de Fundo do Feed</label>
                        <input class="form-control color" type="color" id="feedColor" formControlName="feedBackgroundColor">
                    </div>
                    <i class="ft-account form-icon"></i>
                </div>
                <div class="col-12 col-md-2 col-lg-3">
                    <div class="form-group form-group-icon">
                        <label for="dashboardBackgroundColor" class="text-cinza pt-2">Cor de Fundo do Dashboard</label>
                        <input class="form-control color" type="color" id="dashboardColor" formControlName="dashboardBackgroundColor">
                    </div>
                    <i class="ft-account form-icon"></i>
                </div>
                <div class="col-12 col-md-2 col-lg-3">
                    <div class="form-group form-group-icon">
                        <label for="cardBackgroundColor" class="text-cinza pt-2">Cor de Fundo dos Cartões</label>
                        <input class="form-control color" type="color" id="cardColor" formControlName="cardBackgroundColor">
                    </div>
                    <i class="ft-account form-icon"></i>
                </div>
                <div class="col-12 col-md-2 col-lg-3">
                    <div class="form-group form-group-icon">
                        <label for="fontColor" class="text-cinza pt-2">Cor da Fonte</label>
                        <input class="form-control color" type="color" id="fontColor" formControlName="fontColor">
                        <i class="ft-account form-icon"></i>
                    </div>
                </div>
                <div class="col-12">
                    <hr>
                </div>
                <div class="col-12 col-md-2 col-lg-3">
                    <div class="form-group form-group-icon">
                        <label for="feedWidth" class="text-cinza pt-2">Largura do Feed (%)</label>
                        <input type="number" min="0" class="form-control" id="feedWidth" formControlName="feedWidth">
                        <i class="ft-account form-icon"></i>
                    </div>
                </div>
                <div class="col-12">
                    <hr>
                </div>
                <div class="col-md-2">
                    <label for="displayDateTime" class="text-cinza pt-2">Mostrar Data</label>
                    <br>
                    <span class="btn btn-light">
                        <input type="checkbox" id="displayDateTime" name="displayDateTime" formControlName="displayDateTime">
                    </span>
                </div>
                <div class="col-md-2">
                    <label for="displayFilter" class="text-cinza pt-2">Mostrar Filtros</label>
                    <br>
                    <span class="btn btn-light">
                        <input type="checkbox" id="displayFilter" name="displayFilter" formControlName="displayFilter">
                    </span>
                </div>
                <div class="col-md-2">
                    <label for="soundAlert" class="text-cinza pt-2">Alerta Sonoro</label>
                    <br>
                    <span class="btn btn-light">
                        <input type="checkbox" id="soundAlert" name="soundAlert" formControlName="soundAlert">
                    </span>
                </div>
                <div class="col-md-2">
                    <label for="allowHideCard" class="text-cinza pt-2">Ocultar Cartões</label>
                    <br>
                    <span class="btn btn-light">
                        <input type="checkbox" id="allowHideCard" name="allowHideCard" formControlName="allowHideCard">
                    </span>
                </div>
                <div class="col-md-4">
                    <label for="allowMultiselectionCard" class="text-cinza pt-2">Permitir Multiseleção de Cartões</label>
                    <br>
                    <span class="btn btn-light">
                        <input type="checkbox" id="allowMultiselectionCard" name="allowMultiselectionCard" formControlName="allowMultiselectionCard">
                    </span>
                </div>
                <div class="col-md-4">
                    <label for="orderBySeverity" class="text-cinza pt-2">Ordenar por Nível de Severidade</label>
                    <br>
                    <span class="btn btn-light">
                        <input type="checkbox" id="orderBySeverity" name="severity" formControlName="orderBySeverity">
                    </span>
                </div>
            </form>
        </div>

        <ng-template #modalConfirm let-modal>
            <div class="modal-header">
                <h5 class="modal-title pull-left">Confirmação</h5>
                <button type="button" id="btnClose" class="close pull-right" aria-label="Close" (click)="modal.close()">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>{{ modalMessage }}</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnConfirm" (click)="saveConfirm()">Sim</button>
                <button type="button" class="btn btn-warning" id="btnCancel" (click)="modal.close()">Não</button>
            </div>
        </ng-template>
    </div>
</div>