<div class="app-container">
  <div class="page-container">
    <div class="title-container">
      <h3 class="text-center">Configurações</h3>
    </div>
  </div>
  <div class="page-container">
    <div class="col-sm title-edit-container">
      <h3>Logs</h3>
      <div class="pull-right">
        <button class="btn btn-sm btn-primary" id="btnSave" (click)="openModal()">
          <i class="fa fa-save"></i> Salvar
        </button>
      </div>
    </div>
    <div>
      <div id="configManagementContainer" class="container-fluid">
        <br>
        <form class="row pt-2 page-body" [formGroup]="logForm" id="formConfig" *ngIf="logForm">
          <div class="col-12 col-md-4 col-lg-4">
            <div class="form-group form-group-icon">
              <label for="logLevel" class="text-cinza pt-2">Nível de Log</label>
              <select class="form-control" id="minLogLevel" name="minLogLevel" formControlName="minLogLevel">
                <option *ngFor="let l of logLevels" [ngValue]="l.type">
                  {{l.value}}
                </option>
              </select>
              <i class="ft-account form-icon"></i>
            </div>
          </div>
        </form>
        <ng-template #modalConfirm let-modal>
          <div class="modal-header">
            <h5 class="modal-title pull-left">Confirmação</h5>
            <button type="button" class="close pull-right" aria-label="Close" id="btnClose" (click)="modal.close()">
              <span>&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h6>{{ modalMessage }}</h6>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" id="btnConfirm" (click)="saveConfirm()">Sim</button>
            <button type="button" class="btn btn-warning" id="btnCancel" (click)="modal.close()">Não</button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>