<div class="app-container">
  <div class="page-container" >
      <div class="title-container">
        <h3 class="text-center">Eventos</h3>
      </div>
      <div id="listEvents" class="content-container">
        <concert-table-io [hidden]="editEvent" [tableConfig]="tableConfig" (changePaginationOrListSize)="receiveFeedback($event)" 
        fxFlex="100%" class="row"></concert-table-io>
      </div>
  </div>
</div>
<div class="app-container mb-5" [hidden]="!editEvent">
      <div class="page-container">
        <div class="col-sm title-edit-container">
          <h3 class="text-center">{{editEventData.category ? 'Editar ' : 'Criar '}} Evento</h3>
          <div class="pull-right">
            <button class="btn btn-sm btn-primary" id="btnSave" (click)="openModal()">
              <i class="fa fa-save"></i> Salvar
            </button>
            <button class="btn btn-sm btn-success ml-2" id="btnCancel" (click)="closeEdit()">
              <i class="fa fa-arrow-circle-left"></i> Cancelar
            </button>
          </div>
        </div>
        <div>
        </div>
        <div id="configManagementContainer" class="container-fluid">
          <form class="row pt-2 page-body" id="formConfig" *ngIf="eventForm" [formGroup]="eventForm">
            <div class="col-12">
              <h4>Configurações do Evento</h4>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
              <div class="form-group form-group-icon">
                <label for="name" class="text-cinza pt-2">Nome</label>
                <input type="text" class="form-control" placeholder="" id="name" name="name" formControlName="name">
                <i class="ft-account form-icon"></i>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
              <div class="form-group form-group-icon">
                <label for="category" class="text-cinza pt-2">Tipo de Evento</label>
                <select class="form-control" id="category" name="category" formControlName="category" [ngClass]="{ 'is-invalid': submitted && f.category.errors }">
                  <option *ngFor="let l of severityTypes" [ngValue]="l.type">
                    {{l.value}}
                  </option>
                </select>
                <i class="ft-account form-icon"></i>
                <div *ngIf="submitted && f.category.errors" class="invalid-feedback">
                  <div *ngIf="f.category.errors.required">Campo obrigatório</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
              <div class="form-group form-group-icon">
                <label for="color" class="text-cinza pt-2">Cor do Evento</label>
                <div class="form-group form-group-icon">
                  <input class="form-control eventColor" id="color" type="color" formControlName="color">
                </div>
                <i class="ft-account form-icon"></i>
              </div>
            </div>
            <div id="logTitle" class="col-12">
              <hr>
              <h4>Sinal Sonoro</h4>
            </div>
            <div class="custom-file col-12 col-md-4 col-lg-5">
              <label for="fileSoundLabel" class="text-cinza pt-2">Arquivo de áudio</label>
              <div class="custom-file form-group form-group-icon">
                <input type="file" class="custom-file-input" id="sound" formControlName="notificationSound" (change)="onChange($event)">
                <label class="custom-file-label" id="fileSoundLabel" data-browse="Selecionar" for="fileSoundLabel">Selecionar arquivo de áudio</label>
              </div>
            </div>
            <div class="col-md-3">
              <label for="auth" class="text-cinza pt-2">Alerta Contínuo</label>
              <br>
              <span class="btn btn-light">
                <input type="checkbox" id="loopSound" name="loopSound" formControlName="repeatNotificationSound">
              </span>
            </div>
          </form>
          <ng-template #modalConfirm let-modal>
            <div class="modal-header">
              <h5 class="modal-title pull-left">Confirmação</h5>
              <button type="button" class="close pull-right" id="btnClose" aria-label="Close" (click)="modal.close()">
                <span>&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h6>{{ modalMessage }}</h6>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" id="btnConfirm" (click)="confirm()">Sim</button>
              <button type="button" class="btn btn-warning" id="btnCancel" (click)="modal.close()">Não</button>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
