<div class="content" *ngIf="events && showButton('none')">
  <span class="title">
    Falta
  </span>
  <div class="divider"></div>
  <div class="details">
    <p><label>Subestações:</label> {{lastEvent.level}}</p>
    <p><label>Equipamentos abertos:</label> {{openEquipments.join(", ")}}</p>
  </div>
  <div class="divider"></div>
  <div class="events">
    <h6>Sequência dos eventos</h6>
    <table class="table table-dark">
      <thead>
        <tr>
          <th>Data</th>
          <th>Tag</th>
          <th>Descrição</th>
          <th>Protocolo</th>
          <th>Atuação</th>
          <th>Subestação</th>
          <th>Sinótico</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let l of lastEvent.cardDetails.properties">
          <td>{{getField(l,'date') | date: 'dd/MM/yyyy HH:mm:ss.SSS' }}</td>
          <td>{{getField(l,'tag')}}</td>
          <td>{{getField(l,'description')}}</td>
          <td>{{getField(l,'protocol')}}</td>
          <td>{{getField(l,'actuation')}}</td>
          <td>{{getField(l,'substation')}}</td>
          <td>{{getField(l,'synoptic')}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="content" *ngIf="events && !showButton('none')">
  <!-- <span class="title">
    RDO
  </span> -->
  <button class="btn btn-success btn-sm"
    *ngIf="userHasPermission('EventHypervision', 'AddActionOnEvent', 'edit') && showButton('finishEvent')"
    (click)="finishEvent()">Encerrar</button>
  <button class="btn btn-primary btn-sm"
    *ngIf="userHasPermission('EventHypervision', 'AddActionOnEvent', 'edit') && showButton('addAction')"
    (click)="addComment()">Incluir ação</button>

  <div class="divider"></div>
  <div class="subtitle">
    <div>
      <label>Inicio:</label>
      <p> {{lastEvent.date | date: 'dd/MM/yyyy HH:mm:ss.SSS'}}</p>
    </div>
    <div *ngIf="lastEvent.lastEvent.type == 5">
      <label>Restabelecimento:</label>
      <p>{{lastEvent.lastEvent.date | date: 'dd/MM/yyyy HH:mm:ss.SSS'}}</p>
    </div>
  </div>
  <div class="divider"></div>
  <div>
    <label>Linha de transmissão:</label>
    <p></p>
  </div>
  <div class="divider"></div>
  <div>
    <label>Equipamentos:</label>
    <p *ngFor="let e of openEquipments">{{e}}</p>
  </div>
  <div>
    <label>Proteções operadas:</label>
    <p *ngFor="let e of openProtections">{{e}}</p>
  </div>

  <div class="divider"></div>
  <div class="subtitle">
    <div>
      <label>Condição atmostférica:</label>
      <p> Desconhecida</p>
    </div>
    <div>
      <label>Número da manobra:</label>
      <p><input type="text" /></p>
    </div>
  </div>

  <div class="divider"></div>
  <div class="events">
    <h6>Sequência dos eventos</h6>
    <table class="table table-dark">
      <thead>
        <tr>
          <th>Data</th>
          <th>Tag</th>
          <th>Descrição</th>
          <th>Protocolo</th>
          <th>Atuação</th>
          <th>Subestação</th>
          <th>Sinótico</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let l of lastEvent.cardDetails.properties">
          <td>{{getField(l,'date') | date: 'dd/MM/yyyy HH:mm:ss.SSS' }}</td>
          <td>{{getField(l,'tag')}}</td>
          <td>{{getField(l,'description')}}</td>
          <td>{{getField(l,'protocol')}}</td>
          <td>{{getField(l,'actuation')}}</td>
          <td>{{getField(l,'substation')}}</td>
          <td>{{getField(l,'synoptic')}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="events">
    <h6>Ações</h6>
    <table class="table table-dark">
      <thead>
        <tr>
          <th>Data</th>
          <th>Usuário</th>
          <th>Descrição</th>
          <th>Comentário</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let e of events">
          <td>{{e.lastEvent.date | date: 'dd/MM/yyyy HH:mm:ss.SSS' }}</td>
          <td>{{e.lastEvent.user}}</td>
          <td>{{e.lastEvent.description}}</td>
          <td>{{e.lastEvent.comment}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div>
    <label>Causa:</label>
    <p>-</p>
  </div>
  <div>
    <label>Defeito apurado:</label>
    <p>-</p>
  </div>
  <div>
    <label>Consequência:</label>
    <p>-</p>
  </div>
  <div>
    <label>Observação:</label>
    <p>-</p>
  </div>
</div>




<ng-template #modal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">{{modalTitle}}</h5>
    <button type="button" class="close btn-sm" aria-label="Fechar" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="comment">Comentário</label>
      <div class="input-group">
        <input type="text" class="form-control" [(ngModel)]="comment">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary btn-sm" (click)="modal.close(coment);"
      [disabled]="validateComment()">{{modalButton}}</button>
  </div>
</ng-template>
<concert-loading-io></concert-loading-io>
