@import "~bootstrap/dist/css/bootstrap.css";
html,
body {
  background-color: #48484c;
  height: 100%;
}
// Scrollbar
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.content {
  background-color: #48484c;
  height: 100%;
  color: white;
  padding: 10px;
  overflow-y: auto;
}
.title {
  font-weight: bold;
  font-size: 20px;
  margin-right: 20px;
}
button {
  margin-right: 5px;
}

.divider {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgb(245 240 240);
}

.details {
  font-size: 13px;
  margin-left: 10px;
}
.details label {
  font-weight: bold;
}
.modal-body label {
  font-size: 12px;
}

// .events {
//   height: calc(100% - 210px);
//   overflow-y: auto;
//   overflow-x: hidden;
// }
