<div class="app-container">
  <div class="page-container">
    <div class="title-container">
      <h3 class="text-center">Customização</h3>
    </div>
  </div>
  <div class="page-container">
    <div class="col-sm title-edit-container">
      <h3>Navbar</h3>
      <div class="pull-right">
        <button class="btn btn-sm btn-primary" id="btnSave" (click)="openModal()">
          <i class="fa fa-save"></i> Salvar
        </button>
      </div>
    </div>
    <div>
      <div id="configManagementContainer" class="container-fluid">
        <br>
        <form class="row pt-2 page-body" *ngIf="navbarForm" id="formConfig" [formGroup]="navbarForm">
          <div class="col-12 col-md-2 col-lg-2">
            <div class="form-group form-group-icon">
              <label for="color" class="text-cinza pt-2">Cor de Fundo</label>
              <div class="form-group form-group-icon">
                <input class="form-control color" id="color" type="color" formControlName="colorNavbar">
              </div>
              <i class="ft-account form-icon"></i>
            </div>
          </div>
          <div class="col-md-3">
            <label for="auth" class="text-cinza pt-2">Apresentar Notificações</label>
            <br>
            <span class="btn btn-light">
              <input type="checkbox" id="showNotification" name="showNotification" formControlName="showNotification">
            </span>
          </div>
          <div id="logTitle" class="col-12">
            <hr>
            <h4>Logo</h4>
          </div>
          <div class="col-12 col-md-4 col-lg-4">
            <div class="form-group form-group-icon">
              <label for="navbarLogoName" class="text-cinza pt-2">Título</label>
              <input type="text" class="form-control" placeholder="" id="mainName" name="mainName"
                formControlName="mainName">
              <i class="ft-account form-icon"></i>
            </div>
          </div>
          <div class="col-12 col-md-2 col-lg-2">
            <div class="form-group form-group-icon">
              <label for="fontSize" class="text-cinza pt-2">Tamanho da fonte</label>
              <input type="number" min="0" class="form-control" id="fontSize" name="fontSize"
                formControlName="fontSize">
              <i class="ft-account form-icon"></i>
            </div>
          </div>
          <div class="col-12 col-md-4 col-lg-4">
            <label for="navbarLogoImage" class="text-cinza pt-2">Imagem da Logo</label>
            <div class="custom-file form-group form-group-icon">
              <input class="custom-file-input" id="mainLogo" type="file" formControlName="mainLogo" (change)="loadImage($event, 'fileMainLogo')">
              <label class="custom-file-label" id="fileMainLogo" data-browse="Selecionar" for="navbarLogoImage">Imagem da Logo</label>
            </div>
          </div>
          <div class="col-12">
            <hr>
            <h4>Filtros</h4>
          </div>
          <div class="col-12 col-md-4 col-lg-4">
            <div class="form-group form-group-icon">
              <label for="nameFilters" class="text-cinza pt-2">Título Filtros</label>
              <input class="form-control" type="text" id="nameFilters" formControlName="nameFilters">
              <i class="ft-account form-icon"></i>
            </div>
          </div>
          <div class="col-md-3">
            <label for="auth" class="text-cinza pt-2">Seleção Múltipla</label>
            <br>
            <span class="btn btn-light">
              <input type="checkbox" id="multiple" name="multiple" formControlName="multipleFilters">
            </span>
          </div>
          <div id="appTitle" class="col-12">
            <hr>
            <h4>Aplicativos</h4>
          </div>
          <div id="listApps" class="col-12 content-container">
            <concert-table-io [tableConfig]="tableConfig" (changePaginationOrListSize)="receiveFeedback($event)"
              fxFlex="100%" class="row" [hidden]="addAplication || editApp"></concert-table-io>
          </div>
          <div class="col-12" *ngIf="addAplication || editApp">
            <form class="row pt-2 page-body" id="applicationForm" [formGroup]="applicationForm">
              <div class="col-12">
                <h4>Adicionar Aplicativo</h4>
                <div class="pull-right">
                  <button class="btn btn-sm btn-primary" id="btnSaveEdit" (click)="openModal()">
                    <i class="fa fa-save"></i> Salvar
                  </button>
                  <button class="btn btn-sm btn-success ml-2" id="btnCloseEdit" (click)="closeEdit()">
                    <i class="fa fa-arrow-circle-left"></i> Cancelar
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6 col-lg-6">
                  <div class="form-group form-group-icon">
                    <label for="nameApp" class="text-cinza pt-2">Nome do Aplicativo</label>
                    <div class="form-group form-group-icon">
                      <input class="form-control" type="text" id="nameApp" formControlName="nameApp">
                    </div>
                    <i class="ft-account form-icon"></i>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6">
                  <div class="form-group form-group-icon">
                    <label for="urlApp" class="text-cinza pt-2">Url do Aplicativo</label>
                    <div class="form-group form-group-icon">
                      <input class="form-control" type="text" id="urlApp" formControlName="urlApp">
                    </div>
                    <i class="ft-account form-icon"></i>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6">
                  <div class="form-group form-group-icon">
                    <label for="icon" class="text-cinza pt-2">Icone do Aplicativo</label>
                    <div class="form-group form-group-icon">
                      <input class="form-control" type="text" id="icon" formControlName="icon">
                    </div>
                    <i class="ft-account form-icon"></i>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6 col-lg-6">
                  <div class="form-group form-group-icon">
                    <label for="titleApp" class="text-cinza pt-2">Título do Aplicativo</label>
                    <div class="form-group form-group-icon">
                      <input class="form-control" type="text" id="titleApp" formControlName="titleApp">
                    </div>
                    <i class="ft-account form-icon"></i>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6">
                  <div class="form-group form-group-icon">
                    <label for="target" class="text-cinza pt-2">Tipo de Abertura</label>
                    <div class="form-group form-group-icon">
                      <input class="form-control" type="text" id="target" formControlName="target">
                    </div>
                    <i class="ft-account form-icon"></i>
                  </div>
                </div>
              </div>
              <div class="row">
                <!-- <button (click)="pushService()"
                  [disabled]="!serviceForm.valid">{{serviceForm.value.isNew ? 'Adicionar': 'Salvar'}}</button>
                <button fxFlex="100px" mat-raised-button color="secondary" (click)="addService = false"
                  type="submit">Cancelar</button> -->
              </div>
            </form>
          </div>
          <ng-template #modalConfirm let-modal>
            <div class="modal-header">
              <h5 class="modal-title pull-left">Confirmação</h5>
              <button type="button" class="close pull-right" id="btnClose" aria-label="Close" (click)="modal.close()">
                <span>&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h6>Salvar alterações?</h6>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" id="btnConfirm" (click)="confirm()">Sim</button>
              <button type="button" class="btn btn-warning" id="btnCancel" (click)="modal.close()">Não</button>
            </div>
          </ng-template>